.overlay {
  position: fixed;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  // text-align: left;
  width: 600px;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: white;
  color: #222;
  img {
    width: 100%;
  }
}

.speechText {
  text-align: left;
  margin-left: 2%;
}
