.overlay {
  position: fixed;
  font-family: Georgia, "Times New Roman", Times, serif;
  // text-align: left;
  width: 600px;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: gainsboro;
  color: #222;
  overflow: scroll;
  transition: opacity 0.5s;
  opacity: 1;

  img {
    width: 100%;
  }
}

.speechText {
  text-align: left;
  margin-left: 3%;
  margin-right: 2%;
}
